.premade-challenge-grid {
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 1rem;
  border: 3px solid red;
  width: 100%;
}